.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0 0 2px #ff8d5c;

  h1 {
    font-family: "Courgette", cursive;
    color: #ed6e78;
  }

  div {
    font-size: 1.5rem;

    svg {
      cursor: pointer;
      opacity: 0.6;
      transition: all 300ms ease-in-out;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
    svg:first-child {
      margin-right: 4px;
    }
    svg:last-child {
      color: rgb(97, 16, 190);
      margin-left: 4px;
    }
  }
}
