.menuContainer {
  text-align: center;

  button {
    font-size: 1rem;
    padding: 4px 8px 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    opacity: 0.6;
    transition: all 300ms ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
      border-bottom-color: #ff8d5c;
    }
  }
}
