.container {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;

  h1 {
    font-family: "Courgette", cursive;
    font-size: 3rem;
    color: #ed6e78;

    @media (min-width: 768px) {
      font-size: 6rem;
    }
  }

  div {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100px;
    height: 100px;

    div {
      width: 20px;
      height: 20px;
      background: #d85a8c;
      border-radius: 50%;
      animation: bouncer 500ms cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
        alternate;
    }

    div:nth-child(2) {
      animation-delay: 100ms;
      opacity: 0.8;
    }

    div:nth-child(3) {
      animation-delay: 200ms;
      opacity: 0.6;
    }

    div:nth-child(4) {
      animation-delay: 300ms;
      opacity: 0.4;
    }
  }
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
