@mixin layout {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
}

.title {
  color: #e94a35;
  font-size: 2rem;
  text-align: center;
  padding: 4px 4px 8px;
}

.tasksBar {
  @include layout;
  width: 100%;
  justify-content: space-between;
  font-size: 0.5rem;

  p {
    opacity: 0.8;
  }

  span {
    padding: 0 4px;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.cardList {
  @include layout;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 400px) {
  .tasksBar {
    font-size: 0.6rem;
  }
}
