.title {
  color: #e94a35;
  font-size: 2rem;
  text-align: center;
  padding: 4px 4px 8px;
}

.cardList {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
