@import 'tailwindcss';

@theme {
  --font-title: 'Courgette', cursive;
  --color-primary: #ed6e78;
  --color-secondary: #ff8d5c;
  --animate-bounce: bounce 500ms cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite alternate;

  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100px);
    }
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: #fefefe;
  color: #08080c;

  @variant dark {
    background-color: #08080c;
    color: #fefefe;
  }
}

button {
  cursor: pointer;
}
