$themes: (
  light: (
    color-background: #ffffff,
    color-text: #08080c
  ),
  dark: (
    color-background: #08080c,
    color-text: #ffffff
  ),
);

@mixin theme($key, $color) {
  @each $theme-name, $theme-color in $themes {
    .theme-#{$theme-name} & {
      #{$key}: map-get(map-get($themes, $theme-name), $color);
    }
  }
}

html,
body,
div,
nav,
header,
main,
ul,
li,
a,
h1,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  @include theme("background-color", "color-background");
  @include theme("color", "color-text");
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
